.image__upload {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 2px solid grey;
    z-index: 100;
}

.image__uploadProgress {
    width: 100%;
}